#root {

  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
  background-color: #F4F4F4;
}

svg {
  display: block;
  width: 100%;
  height: 300px;
}

svg .country:hover {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}

button {
  width: 150px;
  border: 1px solid rgb(96, 76, 76);
  margin: 0 auto 5px;
}

.collapsible .content {
  padding: 4px;
  background-color: #a9d1ff;
}
.collapsible .header {
  background-color: #8bc4f1;
  padding: 4px;
  cursor: pointer;
}